body {
  margin: 0;
}



.App {
    background-color:pink ;
    height:100vh ;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  
    
  }
  

  .cards-container {
    width: 1000px;
    height: 600px;
    border: 1px solid purple;
  }
  .card {
    display: inline-block;
    margin: 6px;
    height: calc(100px - 10px);
    width: calc(160px - 10px);
    cursor: pointer;
  
  
  }
  .card:hover {
    transform: scale(0.98);
  
  }
  .card-image {
    height: calc(120px - 9px);
    width: calc(160px - 9px);
  
  }

  @media(max-width: 414px) {
    .App {
      background-color:pink ;
      height:100% ;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    
      
    }
  
  
    .cards-container {
      width: 360px;
      height: 665px;
      border: 1px solid purple;
     
    }
    .card {
      display: inline-block;
      margin: 0.9px;
      height: calc(70px - 6px);
      width: calc(70px - 6px);
      cursor: pointer;
      padding: 1.5px;
    
    
    }
    .card:hover {
      transform: scale(0.98);
    
    }
    .card-image {
      height: calc(85px - 6px);
      width: calc(85px - 6px);
    
    }
    .brianni {
      display: flex;
      justify-content: center;
      align-items: center;
      
     align-content: center;
    }
  }
  